* {
  box-sizing: border-box;
}

header {
  height: 60px;
  border-bottom: 1px solid #e9ebeb;
}

.container {
  margin: 0 auto;
  width: 1205px;
}

.header {
  display: flex;
  align-items: center;
  height: 60px;
}

.header-text {
  flex: 1 1;
  margin-right: 30px;
}

.logo {
  height: 70%;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 0.6rem;
}

.main-img {
  background: #f3f5f5;
  border-radius: 5px;
  overflow: hidden;
  width: 350px;
}

.description {
  color: #868a8a;
  font-size: 1.2rem;
  line-height: 1.5;
}
.section-1 {
  display: flex;
  padding: 30px 0;
}

.section-2 {
  background-color: #f3f5f5;
}

.menu {
  flex: 1 1;
  margin-right: 30px;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 20px 0px;
}

.menu-img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.menu-details {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.each-menu:hover {
  box-shadow: 10px 15px 10px rgba(175, 175, 175, 0.2);
}

.each-menu {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  height: 160px;
  padding: 15px;
  transition-duration: 0.3s;
  display: flex;
}

.menu-text {
  flex: 1 1;
}

.pictures-menu {
  border-radius: 5px;
  height: 130px;
  overflow: hidden;
  position: relative;
  width: 130px;
}

.menu-item {
  min-width: 300px;
  padding: 0 10px 25px;
  width: 50%;
}

.each-menu p {
  color: #808484;
  font-size: 0.9rem;
  height: 2.6rem;
  line-height: 1.3rem;
  margin: 0 0 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-text h3 {
  font-weight: 400;
  margin: 0 0 0.5rem;
}

.prix {
  color: #808484;
  font-size: 1.1rem;
  margin-right: 1rem;
}
.popular {
  color: #ff8000;
}

.star {
  margin-right: 5px;
}

/*---------------   PANIER   ---------------- */

.item-card {
  align-items: stretch;
  align-self: flex-start;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.cart-section {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1200px;
  width: 96vw;
}

.cart {
  position: sticky;
  top: 0;
  width: 350px;
}

.valid-cart {
  background: #00cdbd;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin: 10px;
  padding: 1rem;
  cursor: pointer;
}

.empty-cart {
  color: #868a8a;
  padding: 3rem 0;
  text-align: center;
}
